[enna]
#0,1
fullscreen=0

#/home/user/theme.edj for specific file or just 'default' if theme is
#located at /usr/share/enna/theme/default.edj
theme=default

#x11,xrender,gl,x11_16
engine=x11

#libplayer,emotion\n
backend=libplayer

music_ext=ogg,mp3,flac,wav,wma
video_ext=avi,mkv,ogg,mpg,mpeg,wmv
photo_ext=jpg,jpeg,png

[localfiles]
path_music=file:///home/nico/Musique,Music,icon_hd
path_music=file:///home/serveur/Medias/Musique,Serveur,icon_network
path_video=file:///home/nico/Video,Video,icon_hd
path_video=file:///home/serveur/Medias/Videos,Serveur,icon_network
path_photo=file:///home/nico/Photos,Photos,icon_hd
path_photo=file:///home/serveur/Medias/Photos,Serveur,icon_network

[lms]
path=file:///home/nico/Musique
path=file:///home/serveur/Medias/Musique
parser=mp3,ogg,flac,rm,dummy
slave_timeout=1000
commit_interval=100
