[enna]
#0,1
fullscreen=0

#/home/user/theme.edj for specific file or just 'default' if theme is
#located at /usr/share/enna/theme/default.edj
theme=default

#x11,xrender,gl,x11_16
engine=gl

#libplayer,emotion\n
backend=libplayer

music_ext=ogg,mp3,flac,wav,wma


[localfiles]
path=file:///home/nico/Musique,Music,icon_hd
path=file:///home/nico/Bureau,Serveur,icon_network
