Source: enna
Section: audio
Priority: optional
Maintainer: Nicoals Aguirre <captainigloo@geexbox.org>
Build-Depends: debhelper (>= 6), cdbs, libecore-dev, libevas-dev, libeet-dev, libedje-dev, libeina-dev, libelm-dev, libplayer-dev, libdbus-1-dev, libxml2-dev, libcddb2-dev, libefreet-dev, libexif-dev, libexif12, libcddb2
Standards-Version: 3.8.2
Homepage: http://enna.geexbox.org

Package: enna-modules
Architecture: any
Depends: ${shlibs:Depends}, enna
Description: Enna - a media center application based on EFL.
 This package contains a set of modules to use with enna.

Package: enna
Architecture: any
Depends: ${shlibs:Depends}, enna-data, enna-modules, libelm-svn-03, libevas-svn-03, libecore-evas-svn-03, libedje-svn-03, libecore-file-svn-03, libecore-ipc-svn-03, libecore-svn-03, libecore-txt-svn-03, libecore-x-svn-03, libecore-con-svn-03, libedbus-svn-03, libefreet-svn-03, 
Description: Enna - a media center application based on EFL.
 This package contains binary file.

Package: enna-data
Architecture: all
Depends: ${shlibs:Depends}
Description: Enna - a media center application based on EFL.
 This package contains data use by enna (Theme, icons ...).
