Source: enna
Section: multimedia
Priority: optional
Maintainer: Nicolas Aguirre <captainigloo@geexbox.org>
Build-Depends: debhelper (>= 6), cdbs, pkg-config, libecore-dev, libevas-dev, libeet-dev, libedje-dev, libeina-dev, libelm-dev, libvalhalla-dev, libplayer-dev, libdbus-1-dev, libedbus-dev, libhal-dev, libhal-storage-dev, libxml2-dev, libcurl-dev, libcddb2-dev, libefreet-dev, libxrandr-dev
Standards-Version: 3.8.2
Vcs-Hg: http://hg.geexbox.org/enna
Vcs-Browser: http://hg.geexbox.org/enna/summary
Homepage: http://enna.geexbox.org

Package: enna
Architecture: any
Depends: ${shlibs:Depends}, libeina-svn-05, libeet1, libevas-svn-05, libevas-engines, libevas-engines-extras, libecore-svn-05, libecore-evas-svn-05, libecore-file-svn-05, libecore-ipc-svn-05, libecore-txt-svn-05, libecore-x-svn-05, libecore-con-svn-05, libecore-config-svn-05, libecore-fb-svn-05, libecore-imf-svn-05, libecore-input-svn-05, libecore-job-svn-05, libefreet-svn-05, libedbus-svn-05, libedje-svn-05, libelm-svn-05, libplayer (>= 1.0.0), libvalhalla (>= 1.0.0)
Conflicts: libvalhalla (>= 2.0.0), libplayer (>= 2.0.0.)
Description: a powerful and Open MediaCenter application based on EFL.
 Enna is a Media Center application.
 Featuring a simple user interface, Enna is based on the powerful Enlightenment
 Foundations Libraries (EFL) as for its graphical user interface
 and GeeXboX libraries as for multimedia playback and information retrieval.
