[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Enna
GenericName=Media Center
Comment=EFL Multimedia Center
Icon=enna
TryExec=enna
Exec=enna
Terminal=false
Categories=ENLIGHTENMENT;Application;AudioVideo;Player;
StartupWMClass=enna
